@font-face {
    font-family: 'Noto Sans Tagalog';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/NotoSansTagalog-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Azeret Mono", serif;
    font-style: normal;
    font-weight: bold;
    font-optical-sizing: auto;
    src: url('../assets/fonts/AzeretMono-VariableFont_wght.ttf') format('truetype');
}
