@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --backgound: 227, 236, 248;
  --primary: 255, 255, 255;
  --secondary: 166, 166, 166;
  --subpage: 206, 216, 240;

  --agree: 53, 110, 255;
  --disagree: 255, 85, 85;

  --primary-convo: 166, 166, 166;
  --secondary-convo: 217, 217, 217;

  --is-online: 80, 194, 45;
  --is-offline: 115, 115, 115;

  background-color: rgb(var(--backgound));
}

@media (prefers-color-scheme: dark) {
  :root {
    --backgound: 24, 24, 24;
    --primary: 217, 217, 217;
    --secondary: 166, 166, 166;
    --subpage: 32, 32, 32;

    background-color: rgb(var(--backgound));
  }
  
}



body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  @apply
    m-0
    p-0
    h-screen
    w-screen
    font-baybayin
    overflow-hidden
    antialiased
}

#root {
  @apply
    flex
    flex-row
    h-full
    w-full
    p-0
    overflow-hidden
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Edge */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}